# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
dist/
build/
backend/server
backend/server.exe

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tmp

# Go artifacts
backend/vendor/
